*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
    background-color: 	#f7f7f7;
}

#form{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: white;
}
.bg-primary{
    background-color: 	#3b5998 !important;
}
#login{
    width: 40%;
    margin-top:15px;
    background-color: white;
    color: rgb(90, 90, 219);
    border-radius: 25px;
    border: 1px solid rgb(90, 90, 219);
}

.welcome{
    color: white;
}

#login:hover{
    background-color: rgb(65, 65, 206);
    color: white;
}


label{
    margin-top:10px;
}

.table-bordered{
    border: 5px solid blue;
    text-align: center;
}



.login-form{
    margin-right: 10px;

}

.logInPage{
    background-image: url("img/bg1.jpg");
    background-repeat: repeat-y;
    background-size: 100% ;
    /* color: white; */
    max-width: 100%;
    height: 1000px;    
}

.logInForm{
padding: 100px;
}

#thead{
    text-align: center;
    height: 50px;
    font-size: 1.2em;
}
#thead a{
    color: #3b5998;
}
.btnBlue{

    padding: 10px;
}

.radiusBtnRight{
    border-radius: 0px 25px 25px 0px;
    background-color: rgb(90, 90, 235);
}
.radiusBtnLeft{
    border-radius: 25px 0px 0px 25px;
    background-color: white;
}
#input_text{
    border-radius: 25px;
    padding: 5px;
    padding-left: 7px;
}
#logout{
    margin-left: 5px;
    background-color: white;
    color: blue;
}

/* 
.pink{
    background-color: rgb(236, 68, 99);
}
.pink :hover{
    background-color: rgb(175, 49, 75);
} */


.modalBox input, textarea{
    display: block;
    width: 100%;
}
.modal-header .close{
    margin: 0;
    padding:0;
    padding-top:7px;
}
.modal-header{
    display: block;
}

.modal-content label{
    color:  rgb(90, 90, 219);
    font-weight: 400;
}
.modal-content input, textarea{
    border: none;
    border-bottom: 1px solid rgb(175, 205, 240);
}
.user{
    background-color: white;
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
}
.user .row{
    min-height: 150px;
}

.user img{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 4px 4px 4px #dfe3ee;
}


.searchInput{
    display: block;
    width: 100%;
    margin-top: 40px;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 1px #3b5998;
    border-radius: 5px;
}

.profilePage{
    height: 1000px;
    background-color: white;
    padding: 60px;

}
.shortAbout{
    font-style: italic;
    font-size: 1.2em;
}
.profilePage a{
    text-decoration: none;
    
}
.profilePage img{
    box-shadow: 2px 2px 4px black;
}
.profilePage button{
    margin-top: 10px;
    width: 100%;
}
.profilePage button :hover{
    background-color: blue;
}
.footer {
    height: 100px;
    text-align: center;
    padding: 30px;
}
.footer span{
    color: #3b5998;

}
.btn-light a{
    text-decoration: none;
}