#form{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}




#login{
    width: 40%;
    margin-top:15px;
    background-color: white;
    color: rgb(90, 90, 219);
    border-radius: 25px;
}



#login:hover{
    background-color: rgb(65, 65, 206);
    color: white;
}


label{
    margin-top:10px;
}

.table-bordered{
    border: 5px solid blue;
    text-align: center;
}

#mainrow{
    margin-top: 250px;
}

.login-form{
    margin-right: 10px;

}

body{
    background-image: url("img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
    color: white;

    
}

#thead{
    background-color: white;
    opacity: 0.7;
    border: 2px rgb(98, 98, 204) solid;
    text-align: center;
    height: 50px;
    padding-top:10px;
    font-size: 18px;
    border-radius: 25px;
}

#input_text{
    border-radius: 25px;
}
#logout{
    margin-left: 5px;
    background-color: white;
    color: blue;
}